

/* HEADER */
.juice {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: #4CAF50 20px;
    padding: 0 200 0 200;
    
}
.headboard{
    border-bottom: 1px solid lightgray;
    

}
.nombre{  
line-height: 40px;
text-align: center;
color: white;
width: 250px;
font-family: 'Courier New', Courier, monospace;
background-color: #4aaaa5;
vertical-align: middle; 

}


ul {
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}

li a:hover:not(.active) {
    background-color: rgb(240, 166, 70);
}
/*HEADER-end*/


/*BODY*/

.totalback{
   display: flex; 
   height: 450px;
   background-image: url("../../assets/images/splash.jpg");
}

.aboutme{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-left: 10px;
    color: yellowgreen;
   
}

.bodypara{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    color: lightblue;
    border: 3px solid green;
    line-height: 1.25;
    padding: 20px;
    background-color: #4CAF50;
    word-wrap: break-word;
}

p {
    padding:10px;
    text-indent:40px;
}

.bodymeat{ 

    
    

    

}




/*BODY-end*/